.app {
  height: 100%;
  background: url('./static/stressed_linen_texture.png') repeat 0 0;
}

.app > div {
  /* fix dumb dropzone */
  height: 100%;
}

.workspace {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 20px auto;
  max-width: 960px;
}

.no-file-loaded {
  margin: auto;
  color: rgb(200,200,200);
  padding: 2.5em 0;
  text-align: center;
  font-size: 1.5em;
}

.dropzone-overlay {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  padding: 2.5em 0;
  background: rgba(0, 0, 0, 0.5);
  text-align: center;
  color: white;
  text-shadow: 0px 0px 20px black;
  font-size: 3em;
  z-index: 9999;
}
