.undo-list-fake {
  width: 300px;
  /* I want the canvases to be at the center of the flexbox (and therefore the viewport), and make the undo list stick
   * to its right side. The easiest way is to make a dummy invisible element (with the same width as the undo list) on
   * the other side of the canvases to balance it out.
   */
}

.undo-list {
  color: rgb(200,200,200);
  width: 300px;
}

.undo-list-table,.undo-list-table-header {
  width: 100%;
}

.undo-list-table-header th,.undo-list-table tr {
  text-align: left;
}

.undo-list-table {
  display: block;
  overflow-y: overlay;
  height: 400px;
  border-spacing: 0;
}

.undo-list-table tr {
  text-align: left;
  cursor: pointer;
}

.undo-list-table tr.highlight-deleting {
  color: grey;
}

.undo-list-table-header th:nth-child(1),.undo-list-table td:nth-child(1) {
  width: 100px;
  padding: 0px;
}
.undo-list-table-header th:nth-child(2),.undo-list-table td:nth-child(2) {
  /* width: 200px; */
  padding: 0px;
}
